header {
  z-index: 1;
  display: flex;
  text-align: center;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  font-family: 'Abel', sans-serif; }
  @media screen and (max-width: 900px) {
    header {
      height: 100px; } 
      .bannerimage {
        width: 150px;
        }}
  @media screen and (max-width: 600px) {
    header {
      height: 80px; } 
    .bannerimage {
      display: none;
      width: 0;
    }
  }
  @media screen and (min-width: 901px) {
    header {
      height: 150px; } 
      .bannerimage {
        width: 225px;
        }}

.container-fluid {
  margin: 0;
  width: 100%;
  display: flex;
}

.bannerimage {
  height: 100%; 
}

.bannertext {
  display: flex;
  flex-direction: column;
  height: 100%; 
  padding: 0;
  margin: auto;
  justify-content: space-between;
}

#title {
  margin: 10px 0px 0px 0px; }
  @media screen and (max-width: 18000px) {
    #title {
      height: 40px;
      margin: 5px 0px 0px 0px;
      font-size: 30px; } }
  @media screen and (max-width: 900px) {
    #title {
      height: 25px;
      margin: 2px 0px 0px 0px;
      font-size: 25px; } 
    .bannertext {
      width: 100%;
      justify-content: space-around;
    }
    }
  @media screen and (max-width: 400px) {
    #title {
      height: 20px;
      margin: 2px 0px 0px 0px;
      font-size: 20px; } 
    .bannertext {
      width: 100%;
      justify-content: space-between;
    }
    }

#subtitle {
  height: 60px;
  margin: 0; }
  @media screen and (max-width: 18000px) {
    #subtitle {
      height: 30px;
      font-size: 20px; } }
  @media screen and (max-width: 900px) {
    #subtitle {
      height: 20px;
      font-size: 18px; } }
  @media screen and (max-width: 400px) {
    #subtitle {
      height: 15px;
      font-size: 15px; } }

li.plain-list {
  list-style-type: none;
}

h1.project-category {
  font-size: 2em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

#navbar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px; }
  @media screen and (max-width: 18000px) {
    #navbar {
      height: 40px;
      font-size: 1.25em;
    }}
  @media screen and (max-width: 800px) {
    #navbar {
      height: 30px;
      font-size: .75em;
    }
    
  }
  @media screen and (max-width: 350px) {
    #navbar {
      height: 20px;
      font-size: .75em;
    }
  }

.active {
  text-decoration: underline;
}

header a {
  color: white !important;
}

.navbar-item {
  margin: 0; 
  color: white;
}

a:not(.active):focus {
  text-decoration: none;
}

.contentContainer {
  padding-top: 20px;
  font-family: 'Abel', sans-serif;
  margin: auto; }

@media screen and (max-width: 900px) {
  .contentContainer {
    padding-top: 120px;
    width: 67%; 
  } 
  .portfolio-container {
      flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .contentContainer {
    padding-top: 90px;
    width: 90%; 
  } 
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 901px) {
  .contentContainer {
    padding-top: 170px;
    width: 50%; 
  } 
}

#portrait {
  width: 30%;
  margin: 0px 10px 10px 0px;
}  

form {
  display: table;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  width: 60%;
  margin: auto; }

@media screen and (max-width: 400px) {
  form {
    padding: 13px;
    font-size: 10px;
  }
}

.form-row {
  display: table-row; }

.form-label {
  display: table-cell;
  align-items: start; 
}

.input {
  display: table-cell;
  vertical-align: top;
  margin: 0px 0px 5px 5px;
}

.button-div {
  display: table-cell;
}

button {
  float: right;
}

.portfolio-container {
  margin: auto;
  width: 100%;
  text-align: center; }

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

@media screen and (max-width: 18000px) {
  .project-cell {
    width: 50%; 
    padding: 10px;
  } 
}
@media screen and (max-width: 400px) {
  .project-cell {
    width: 100%; 
    padding: 5px;
  } 
}

body {
  background-color: white;
}

p {
  font-size: 1.25em; }

a {
  font-size: 1em;
}

#error {
  color: red;
  padding: 5px;
  text-align: center;
}

